<p id="notice"><%= notice %></p>

<p>
  <strong>Section name:</strong>
  <%= @section.section_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @section.course.try :name %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.try :name %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
