<p id="notice"><%= notice %></p>

<p>
  <strong>Section name:</strong>
  <%= @section.section_name %>
</p>

<p>
  <strong>Course name:</strong>
  <%= @section.course_name %>
</p>

<p>
  <strong>Professor name:</strong>
  <%= @section.professor_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @section.course %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
